{% extends "base.html" %}
    {% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        文章发布
                    </h3>
                </div>
                <div class="panel-body">

                    <form method="post" name="editorpost">
                    {{ form.hidden_tag() }}
                    <p>
                        文章标题：{{ form.title(size=30) }}<br>
                    </p>
                    <p>
                        文章分类：{{ form.categories }}<br>
                    </p>
                    <p>
                        {{ form.ckeditor_demo }}
                    </p>
                    <!-- 替换脚本 -->
                    <script>
                        CKEDITOR.replace( 'ckeditor_demo' );
                    </script>
                    <!--  -->
                    <p>
                        {{ form.submit }}
                    </p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



    {% endblock %}
