{% extends "base.html" %}
    {% block content %}

<div class="container">
    <div class="row">

<!-- 主列表 -->
            {% if paginator.iter_pages() %}
                {% for post in paginator.items %}

                <div class="col-md-3">
                <div class="thumbnail">
                    <a href="/post/{{ post.id }}">
                    <img src="/static/thumbnail.jpg" alt="通用的占位符缩略图" style="margin: 0px;">
                    </a>

                    <div class="caption">
                        <p>
                            <a href="/post/{{ post.id }}" style="text-decoration:none; color: #000000;"> {{ post.title }} </a>
                        </p>
                        <p class="small text-muted" style="color: #bbbbbb;">{{ post.content }} </p>
                        <hr>
                        <p class="small text-muted" style="color: #bbbbbb;">
                            <span><img src="/static/thumbnail.jpg" alt="通用的占位符缩略图" class="img-circle" width="15px" height="15px"></span>
                            <span>&nbsp;末小山</span>
                            <span class="pull-right">{{ post.create_time.strftime('%Y/%m/%d') }}</span>
                        </p>
                    </div>

                </div>
                </div>

                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <ul class="pager">
                {% if paginator.has_prev %}
                    <li class="previous">
                        <a href="{{ url_for('index') }}{{ paginator.pre_num }}">&laquo; 上一页</a>
                    </li>
                {% else %}
                     <li class="previous disabled">
                        <a href="#">&laquo; 上一页</a>
                    </li>
                {% endif %}

                {% if paginator.has_next %}
                    <li class="next">
                        <a href="{{ url_for('index') }}{{ paginator.next_num }}">下一页 &raquo;</a>
                    </li>
                {% else %}
                     <li class="next disabled">
                        <a href="#">下一页 &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        </div>
    </div>

    {% endblock %}
