{% extends "base.html" %}
    {% block content %}

<div class="container">
    <div class="row">

<!-- 主列表 -->
        <div class="col-xs-9">

{% if paginator.iter_pages() %}
    {% for post in paginator.items %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="/post/{{ post.id }}" class="btn-link">
                        {{ post.title }}
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="small m-b-xs">
                        <span class="text-muted">末小山</span> <span class="text-muted">{{ post.create_time.strftime('%Y/%m/%d') }}</span>
                    </div>
                    <p>{{ post.content }}</p>
                </div>
            </div>




    {% endfor %}
{% endif %}


<ul class="pager">
    {% if paginator.has_prev %}
        <li class="previous">
            <a href="{{ url_for('index') }}{{ paginator.pre_num }}">&laquo; 上一页</a>
        </li>
    {% else %}
         <li class="previous disabled">
            <a href="#">&laquo; 上一页</a>
        </li>
    {% endif %}

    {% if paginator.has_next %}
        <li class="next">
            <a href="{{ url_for('index') }}{{ paginator.next_num }}">下一页 &raquo;</a>
        </li>
    {% else %}
         <li class="next disabled">
            <a href="#">下一页 &raquo;</a>
        </li>
    {% endif %}
</ul>

        </div>

<!-- 侧边栏  -->
        <div class="col-xs-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        微信
                    </h3>
                </div>
                <div class="panel-body">
                    <img src="/static/erweima.JPG" class="img-rounded img-thumbnail">
                </div>
            </div>

        </div>


    </div>
</div>


    {% endblock %}
