{% extends "base.html" %}
    {% block content %}

<div class="container">
    <div class="row">

<!-- 主列表 -->
        <div class="col-xs-9">

            <div class="panel panel-default">
                <div class="text-center article-title">
                    <h3>
                        {{ post.title }}
                    </h3>
                    <span class="text-muted">末小山</span> <span class="text-muted">{{ post.create_time.strftime('%Y/%m/%d') }}</span>
                </div>
                <div class="panel-body">
                    {% autoescape false %}
                    {{ post.content }}
                    {% endautoescape %}
                </div>
            </div>

        </div>

        <div class="col-xs-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">如何联系到我？</h3>
                </div>
                <div class="panel-body">
                    <p>末小山 <small class="text-muted">探索产品设计与数据分析</small></p>
                    <hr>
                    <p class="text-info">关注我的微信公众号</p>
                    <li>公众号名称：末小山</li>
                    <li>免费资源下载</li>
                    <li>及时获取更多动态</li>
                    <hr>
                    <p class="text-info">添加我的个人微信</p>
                    <li>微信号：mihawkmah</li>
                    <li>随时互动交流</li>
                </div>
            </div>

        </div>

    </div>
</div>

    {% endblock %}
