{% extends "base.html" %}
    {% block content %}

<div class="container">
    <div class="row">

<!-- 主列表 -->
        <div class="col-xs-12">

            <div class="panel panel-default">
                <div class="text-center article-title">
                    <h3>
                        {{ post.title }}
                    </h3>
                    <span class="text-muted">末小山</span> <span class="text-muted">{{ post.create_time.strftime('%Y/%m/%d') }}</span>
                </div>
                <div class="panel-body">
                    {% autoescape false %}
                    {{ post.content }}
                    {% endautoescape %}
                </div>
            </div>

        </div>


    </div>
</div>

    {% endblock %}
